body {
    background-color: black !important;
    text-align: center !important;
}
.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    background-image: url("oslo.jpg");
    background-repeat: no-repeat;
}

.row {
    padding: 15px 0 0 0;
}

h2 {
text-align: center;
margin: 0;
}

.tid, p{
    font-family: 'Manrope', sans-serif;
}

.tid {
    padding: 15px;
}


p {
    position: relative;
    bottom: 10px;
}

h1, h2 {
font-family: 'Playfair Display', serif;
}

h1{
    position: relative;
    top: -15px;
}

select {
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
}


